* {
  box-sizing: border-box;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Navegar";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}
input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}

body {
  background-color: #f1f1f1;
}

.formulario{
    background-color: #ffffff;
    margin: 5em auto;
    padding: 40px;
    width: 80%;
    min-width: 300px;
}

h1, h2{
display: flex;
justify-content: center;
margin-top: 1em;
}

header{
z-index:9;
 position: sticky;
  top: 0;
}

.footer{
  padding:2em 1em;
  color:white;
  background-color: #305c26;
  min-height: 2rem;
  max-height: 5rem;
  display: grid;
  justify-content: center;
  position:fixed;
  bottom:0px;
  width:100%;
}

.btn-block {
  margin-top: 5rem;
}

form {
  margin-top: 3rem;
}

.navbar{
  background-color: #305c26;
  color:white;
}
#guiaTexto{
     margin-top: 20px;
     font-size:20px;
}