{{#partial "titulo"}}
    <title>Calculadora</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Calculadora HC</h1>
    </section>

{{/partial}}

{{> layout.html.hbs }}