{{#partial "titulo"}}
    <title>Calculadora</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Calculadora HC</h1>
         <form method="post" action="/organizacion/calculadorHC">
             <!--
             <div class="form-group">
                        <label for="tipoDeConsumo">Organizaciones</label>
                        <select class="form-control" id="organizacion" name="organizacion">
                            {{#each organizaciones}}
                            <option>{{razonSocial}}</option>
                            {{/each}}
                        </select>
                    </div>
                    -->
                    <div class="form-group">
                        <label for="unidad">Unidades</label>
                        <select class="form-control" id="unidad" name="unidad">
                            <option >gCO2eq</option>
                            <option>kgCO2eq</option>
                            <option>tnCO2eq</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="periodicidad">Periodicidad</label>
                        <select class="form-control" id="periodicidad" name="periodicidad">
                            <option >Mensual</option>
                            <option>Anual</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Calcular</button>
         </form>
         <p>El valor del HC es: {{valor}}</p>
    </section>

{{/partial}}

{{> layout.html.hbs }}