{{#partial "titulo"}}
    <title>Guia</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Guia de Recomendaciones</h1>
        <div id="guiaTexto">
            <p >Para evitar la huella de carbono, nuestro grupo cree que:</p>
            <ol>
              <li>Se debería usar más el transporte público, ya que es un medio de transporte más sostenible</li>
              <li>Comprar vehículos más respetuosos con el medio ambiente (por ejemplo, autos eléctricos)</li>
              <li>Elegir un consumo de energía 100% renovable y adquirir electrodomésticos de bajo consumo</li>
              <li>Regular la calefacción y el aire acondicionado para ahorrar energía</li>
              <li>Notificar a tus amigos la importancia de reducir la huella de carbono (es decir, concientización social)</li>
              <li>Disminuir la cantidad de residuos: reutilizar envases (dígase, reciclarlos) y si no es posible tirarlos al contenedor correspondiente</li>
            </ol>
            <p>Con todas estas precauciones tomadas, el grupo cree que la huella de carbono puede reducirse significativamente
                                   y eso ayudaría a reducir el impacto ambiental de la misma.</p>
        </div>
    </section>

{{/partial}}

{{> layout.html.hbs }}