{{#partial "titulo"}}
    <title>Guia</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Guia de Recomendaciones</h1>
        <p>
            Usar bien los recursos :P
        </p>
    </section>

{{/partial}}

{{> layout.html.hbs }}