{{#partial "titulo"}}
    <title>Inicio</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Mi impacto ambiental</h1>
        <p>
            La latente, presente y creciente preocupación internacional por las consecuencias adversas del cambio
            climático ha impulsado a las organizaciones e instituciones a profundizar su conocimiento respecto de los
            gases de efecto invernadero y su dinámica. La huella ecológica mide la cantidad de agua, aire y tierra
            biológicamente productiva necesaria para producir los recursos requeridos por un individuo o población
            para su consumo y para absorber sus residuos, utilizando la tecnología existente y prácticas de gestión de
            recursos (Ewing et al., 2008).
        </p>

        <img src="huellas.png" class="rounded float-left" alt="Imagen principal de Mi impacto ambiental">
    </section>

{{/partial}}

{{> layout.html.hbs }}