{{#partial "titulo"}}
    <title>Login</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h2 align="center">Inicio de Sesi칩n</h2>
        <span name="errorLogin">{{errorLogin}}</span>
        <form name="login-form" class="login-form formulario" action="/login" method="post">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                </br>
                <input name="username" type="text" class="input username form-control" placeholder="Ingrese un usuario" required/>
            </div>
            <div class="form-group">
                <label for="contrase침a">Contrase침a</label>
                </br>
                <input name="password" type="password" class="input password form-control" placeholder="Ingrese una contrase침a" required/>
            </div>
            <button type="submit" name="submit" class="btn btn-success btn-block" style="margin-top: 3rem;"><i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar</button>
        </form>
    </section>
{{/partial}}
{{> layout.html.hbs }}