{{#partial "titulo"}}
    <title>Mediciones</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h2 align="center">Cargar archivo CSV</h2>
        <form method="post" action="/medicion-csv/nuevo">
            <div class="form-group">
                <label for="csvFile">Archivo CSV</label>
                <input type="file" class="form-control-file" id="csvFileId">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </section>

{{/partial}}

{{> layout.html.hbs }}