{{#partial "titulo"}}
    <title>Mediciones</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Registrar Mediciones</h1>
        <a href="/mediciones/particular" class="btn btn-primary btn-lg btn-block ctive" role="button" aria-pressed="true">Medicion Particular</a>
        <a href="/mediciones/csv" class="btn btn-secondary btn-lg btn-block active" role="button" aria-pressed="true">Carga desde CSV</a>
    </section>

{{/partial}}

{{> layout.html.hbs }}