{{#partial "titulo"}}
    <title>Mediciones</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h2 align="center">Cargar archivo CSV</h2>
        <form method="post" action="/mediciones-csv/nuevo" enctype="multipart/form-data">
            <div class="form-group">
                <label for="csvFileId">Archivo CSV</label>
                <input type="file" class="form-control-file" name="csvFileId" id="csvFileId" accept="*/*">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </section>

{{/partial}}

{{> layout.html.hbs }}