{{#partial "titulo"}}
    <title>Mediciones</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h2 align="center">Ingresar ruta CSV</h2>
    </section>

{{/partial}}

{{> layout.html.hbs }}