{{#partial "titulo"}}
    <title>Vinculacion</title>
{{/partial}}

{{#partial "contenido"}}
<section>
    <h2 align="center">Proponer vinculacion de miembro </h2>
    <form method="post" action="/organizaciones-vinculacion/nuevo">
        <div class="form-group">
            <label for="organizacion">Organizacion</label>
            <select class="form-control" id="organizacion" name="organizacion">
                {{#each organizaciones}}
                    <option >{{razonSocial}}</option>
                {{/each}}
            </select>
         </div>
        <div class="form-group">
             <label for="miembro">Miembros</label>
             <select class="form-control" id="miembro" name="miembro">
                {{#each miembros}}
                <option >{{usuario}}</option>
                {{/each}}
            </select>
        </div>
        <button onclick="propuesta()" type="submit" class="btn btn-primary">Vincular</button>
    </form>
            <script>
                function propuesta(){
                    alert("Nueva vinculacion propuesta");
                }
            </script>
</section>
{{/partial}}

{{> layout.html.hbs }}


