<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vinculacion de miembro</title>
</head>
<body>
<header>
    <h2 align="center">Proponer vinculacion de miembro </h2>
</header>
<section>
    <table align="center">
        <tr>
            <td>
                <input type="text" name="Miembro", align="center", placeholder="Miembro">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Organizacion", align="center", placeholder="Organizacion">
            </td>
        </tr>
    </table>
    <div align="center">
        <input type="button" id="i", align="center", value="Ingresar">
    </div>
</section>
</body>
</html>


