{{#partial "titulo"}}
    <title>Aceptacion o rechazo de una propuesta de Vinculacion</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Vinculaciones Pendientes</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Empleado</th>
                <th scope="col">Organizacion</th>
                <th scope="col">Aceptar</th>
                <th scope="col">Rechazar</th>
            </tr>
            </thead>
            <tbody>
            {{#each vinculacionesPendientes}}
                <tr>
                    <td>{{empleado.usuario}}</td>
                    <td>{{organizacion.razonSocial}}</td>
                    <td>
                        <a class="btn btn-primary nav-item nav-link" href="/organizaciones-vinculacion/aceptado/{{id}}">Aceptar Vinculacion</a>

                    </td>
                        <td>
                            <a class="btn btn-danger nav-item nav-link" onclick="rechazado()" href="/organizaciones-vinculacion/rechazado/{{id}}">Rechazar Vinculacion</a>
                        </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <script>
            function rechazado(){
                alert("La vinculacion se eliminara");
            }
        </script>
    </section>
{{/partial}}

{{> layout.html.hbs }}