<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vinculacion a organizacion</title>
</head>
<body>
<header>
    <h2 align="center">Aceptacion o rechazo de una propuesta de vinculacion </h2>
</header>
<section>
    <table align="center">
        <tr>
            <th>Prupuestas de vinculacion</th>
        </tr>
        <tr>
            <td>Propuesta 1</td>
        </tr>
        <tr>
            <td>Propuesta 2</td>
        </tr>
    </table>
    <div align="center">
        <input type="button" id="i", align="center", value="Aceptar">
        <input type="button" id="i", align="center", value="Rechazar">
    </div>
</section>
</body>
</html>