{{#partial "titulo"}}
    <title>Vinculacion a organizacion</title>
{{/partial}}

{{#partial "contenido"}}
<section>
    <h2 align="center">Aceptacion o rechazo de una propuesta de vinculacion </h2>
    <table class="table">
         <thead class="thead-dark">
                <tr>
                    <th scope="col">Emleado</th>
                    <th scope="col">Organizacion</th>
                    <th scope="col">Vincular</th>
                    <th scope="col">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Empleado x</td>
                        <td>Organizacion x</td>
                        <td><button type="button" class="btn btn-primary">Aceptar</button></td>
                        <td><button type="button" class="btn btn-danger">Rechazar</button></td>
                    </tr>
                </tbody>
        </thead>
   </table>
</section>
{{/partial}}

{{> layout.html.hbs }}