{{#partial "titulo"}}
    <title>Reportes</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h1 align="center">Reportes de HC</h1>
    </section>

{{/partial}}

{{> layout.html.hbs }}