{{#partial "titulo"}}
    <title>Trayectos</title>
{{/partial}}

{{#partial "contenido"}}
    <section>
        <h2 align="center">Registro de Trayectos</h2>
        <form method="post" action="/trayectos/nuevo">
            <div class="form-group">
                <p id="tramo">Tramo 1</p>
            </div>
            <div class="form-group">
                <label for="tipoTransporte">Tipo de transporte</label>
                <select class="form-control" id="tipoTransporte" name="tipoTransporte">
                    <option>A Pie</option>
                    <option>Bicicleta</option>
                    <option>Taxi</option>
                    <option>Remis</option>
                    {{#each publicos}}
                        <option>Linea {{linea}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="inicio">Direccion de inicio</label>
                <input type="text" class="form-control" id="inicio" name="inicio" placeholder="Ej: Mozart 2200">
            </div>
            <div class="form-group">
                <label for="fin">Direccion de fin</label>
                <input type="text" class="form-control" id="fin" name="fin" placeholder="Ej: Medrano 950">
            </div>

            <div id="oculto1" hidden="hidden">
                <p id="tramo">Tramo 2</p>
                <div class="form-group">
                    <label for="tipoTransporte">Tipo de transporte</label>
                    <select class="form-control" id="tipoTransporte" name="tipoTransporte">
                        <option>A Pie</option>
                        <option>Bicicleta</option>
                        <option>Taxi</option>
                        <option>Remis</option>
                        {{#each publicos}}
                            <option>Linea {{linea}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inicio">Direccion de inicio</label>
                    <input type="text" class="form-control" id="inicio" name="inicio" placeholder="Ej: Mozart 2200">
                </div>
                <div class="form-group">
                    <label for="fin">Direccion de fin</label>
                    <input type="text" class="form-control" id="fin" name="fin" placeholder="Ej: Medrano 950">
                </div>
            </div>

            <button type="button" class="btn btn-primary" id="nuevo_tramo" onclick="enable()">Agregar tramo</button>
            <button type="submit" class="btn btn-secondary">Enviar</button>
        </form>
    </section>

    <script type='text/javascript'>
        function enable(){
            document.getElementById("oculto1").removeAttribute("hidden");
        }
    </script>

{{/partial}}

{{> layout.html.hbs }}